# netbeans
*/dist/
*/build/
*/nbproject/private/
*/nbproject/build-impl.xml
*/nbproject/genfiles.properties
*/nbproject/jfx-impl_backup*.xml
*/nbproject/UPDATED.TXT

# jflex backups
*.java~

# OS-specific files (add lines accordingly)
# Linux + KDE
.directory

# Windows
[Tt]humbs.db

# Mac OS-X
*.DS_Store
